<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    {%block head%}{%endblock%}

</head>
<body>
    <p>To read the contents of files:file1,file2,file3,file4</p>
    <p>Check the following  <a href="http://127.0.0.1:5000//file1?start=1&end=10">reference Url</a> </p>
    <p>Contents will be displayed below</p>
    <hr>
    {%block body%}{%endblock%}
</body>

</html>